/* #region:  resets*/
*,
*::before,
*::after{
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p{
  padding: 0;
  margin: 0;
}

img,
svg,
picture{
  display: block;
  max-width: 100%;
}

button,
input{
  font-family: inherit;
  border: none;
  padding: 0;
}
/*#endregion*/

/*#region: basic settings*/

:root{

--clr-neutral-900:  hsl(227, 75%, 14%);
--clr-neutral-hsl-900: 227, 75%, 14%;

--clr-neutral-800:  hsl(226, 25%, 17%);
--clr-neutral-700:  hsl(225, 23%, 24%);
--clr-neutral-600:  hsl(226, 11%, 37%);
--clr-neutral-300:  hsl(0, 0%, 78%);
--clr-neutral-100:  hsl(0, 0%, 93%);
--clr-neutral-0:    hsl(200, 60%, 99%);

--clr-neutral-hsl-800: 226, 25%, 17%;
--clr-neutral-hsl-700: 225, 23%, 24%;
--clr-neutral-hsl-300:  0, 0%, 78%;
--clr-neutral-hsl-100:  0, 0%, 93%;
--clr-neutral-hsl-0:   200, 60%, 99%;

--clr-off-white: #fcfdff;

--clr-red-400: hsl(3, 86%, 64%);
--clr-red-500: hsl(3, 71%, 56%);
--clr-red-700: hsl(3, 77%, 44%);

--gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
--gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);


  --fs-300: 0.875rem;   /* 14px */
  --fs-400: 1rem;       /* 16px */
  --fs-500: 1.125rem;   /* 18px */
  --fs-600: 1.25rem;    /* 20px */
  --fs-700: 1.4375rem;  /* 23px */
  --fs-900: 2rem;       /* 32px */

--fw-400: 400;
}


/* Normal Variable Font */
@font-face {
  font-family: 'Noto';
  src: url("../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Italic Variable Font */
@font-face {
  font-family: 'Noto';
  src: url("../assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/*#endregion*/

/*#region: page__header*/
body {
  font-family: 'Noto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 4rem;
  min-height: 100vh;
  min-height: 100dvh;
  background: var(--surface-page);
  background-attachment: fixed;

  /*#region:  light theme variables */

  --surface-page: var(--gradient-light);
  --surface-raised: var(--clr-off-white);


  --shadow-elevation-1: 0 1px 2px hsl(0deg, 0%, 0%, 0.1);

  /* BASE button */
  --bg-action: var(--clr-off-white);
  --bg-action-hover: hsl(var(--clr-neutral-hsl-0), 0.6);
  --bg-action-focus: var(--clr-neutral-0);
  --brd-action: hsl(var(--clr-neutral-hsl-700),0.1);
  --brd-action-hover: hsl(var(--clr-neutral-hsl-300),0.3);
  --text-on-action: var(--clr-neutral-900);
  --text-on-action-hover: var(--clr-neutral-600);
  --shadow-action: var(--shadow-elevation-1);

  /* SELECTED button */
  --bg-action-selected: var(--clr-red-700);
  --bg-action-selected-hover: var(--clr-red-500);
  --text-on-action-selected: var(--clr-off-white);
  --text-on-action-selected-hover: var(--clr-off-white);

  /*TOGGLE BUTTON*/
  --bg-action-toggle: var(--clr-neutral-100);
  --bg-action-toggle-hover: var(--clr-neutral-300);
  --bg-action-toggle-focus: var(--clr-neutral-100);
  --ol-action-toggle-focus: 2px  solid var(--clr-red-500);
  --brd-action-toggle-focus: 1px solid var(--clr-neutral-0);

  /* REMOVE button*/
  --bg-action-remove: transparent;
  --brd-action-remove: var(--clr-neutral-300);
  --bg-action-remove-hover: var(--clr-red-700);
  --bg-action-remove-focus: var(--clr-neutral-100);
  --brd-action-remove-focus: 1px solid transparent;
  --text-on-action-remove: var(--clr-neutral-900);
  --text-on-action-remove-hover: var(--clr-neutral-100);

  /* SWITCH slider*/
  --bg-action-switch: var(--clr-neutral-300);
  --bg-action-switch-hover: var(--clr-red-500);
  --brd-action-switch: 2px solid var(--clr-neutral-0);
  --ol-action-switch: 2px solid var(--clr-red-500);
  --brd-action-switch-focus: 2px solid var(--clr-neutral-0);
  --ol-action-switch-focus: 2px solid var(--clr-red-500);

  /* CONTENT TEXTS*/
  --text-primary: var(--clr-neutral-900);
  --text-secondary: var(--clr-neutral-900);

  /* LOGO & header icons */
  --logo-mark: var(--clr-red-700);
  --logo-text: var(--clr-neutral-900);

  --moon-display: inline-block;
  --sun-display: none;
  /*#endregion*/



  &.dark{

    background: var(--surface-page);

    --surface-page: var(--gradient-dark);
    --surface-raised: hsl(var(--clr-neutral-hsl-800), 0.95);
    --shadow-elevation-1: none;

    /* BASE button */
   --bg-action: var(--clr-neutral-700);
   --bg-action-hover: hsl(var(--clr-neutral-hsl-0), 0.3);
   --bg-action-focus: var(--clr-neutral-600);
  --brd-action: hsl(var(--clr-neutral-hsl-0),0.15);
  --brd-action-hover: transparent;
  --text-on-action: hsl(var(--clr-neutral-hsl-0), 0.8);
  --text-on-action-hover: hsl(var(--clr-neutral-hsl-0), 0.8);

    /* SELECTED button */
  --bg-action-selected: var(--clr-red-400);
  --bg-action-selected-hover: var(--clr-red-500);
  --text-on-action-selected: var(--clr-neutral-900);
  --text-on-action-selected-hover: var(--clr-neutral-900);

    /*TOGGLE BUTTON*/
  --bg-action-toggle: var(--clr-neutral-700);
  --bg-action-toggle-hover: hsl(var(--clr-neutral-hsl-100), 0.3);
  --bg-action-toggle-focus: var(--clr-neutral-600);
  --ol-action-toggle-focus: 2px  solid var(--clr-red-500);
  --brd-action-toggle-focus: 2px solid var(--clr-neutral-900);


    /* REMOVE button*/
  --bg-action-remove-focus: var(--clr-neutral-600);
  --bg-action-remove-hover: var(--clr-red-400);
  --brd-action-remove: hsl(var(--clr-neutral-hsl-0),0.15);
  --text-on-action-remove: hsl(var(--clr-neutral-hsl-0), 0.8);
  --text-on-action-remove-hover: var(--clr-neutral-900);

    /* SWITCH slider*/
  --bg-action-switch: var(--clr-neutral-600);
  --bg-action-switch-hover: var(--clr-red-500);
  --brd-action-switch-focus: 2px solid var(--clr-neutral-900);


  --text-primary: var(--clr-off-white);
  --text-secondary: hsl(var(--clr-neutral-hsl-0), 0.6);
  --text-on-action-selected: var(--clr-neutral-900);


  --logo-mark: var(--clr-red-400);
  --logo-text: var(--clr-neutral-0);

  --moon-display: none;
  --sun-display: inline-block;

  }
}

@media (max-width: 50rem){
  body{
    padding: 1rem;
  }
}

.extensions,
.page-header{
  max-width: 73.125rem;
  margin: 0 auto;
  width: 100%;
}

.page-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem  0.9375rem;
  background-color: var(--surface-raised);
  border-radius: 25px;
  border: var(--brd-action);
  box-shadow: var(--shadow-elevation-1);
}

@media (max-width: 50rem){

  .page-header{
    padding: 0.6rem;
    border-radius: 10px;
  }
}

.icon--logo {
  width: 180px;
  height: 41px;
}

  .btn--toggle{
    width: 3.125rem;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    background-color: var(--bg-action-toggle);
    color: var(--clr-neutral-900);
    border-radius: 10px;
    cursor: pointer;
    transition: outline,  border 0.5s;

    &:hover{
      background-color: var(--bg-action-toggle-hover);
    }

    &:focus-within{
      outline: var(--ol-action-toggle-focus);
      border: var(--brd-action-toggle-focus);
      background-color: var(--bg-action-toggle-focus);
    }
  }

  body.dark:has(.btn--toggle:is(:hover, :focus-within)){
   --logo-mark: var(--clr-red-700);
  }


  .icon--moon,
  .icon--sun
  {
    width: 1.375rem;
    height: 1.375rem;
    fill: none;
  }

  .icon--moon{
    display: var(--moon-display, none);
  }

  .icon--sun{
    display: var(--sun-display, none);
    }

/*#endregion*/

/*#region: extensions__header*/

.extensions__header{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-block-start: 2rem;
  margin-block-end: 2.4rem;

}

@media (min-width: 50rem){
  .extensions__header{
    grid-template-columns: 1fr auto;
    text-align: left;
    justify-items: start;
  }
}

.extensions__title{
  font-size: var(--fs-900);
  color: var(--text-primary);
  margin-block-end: 1.2rem;
}

.extensions__controls{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.btn{
  font-size: var(--fs-600);
  color: var(--text-on-action);
  padding: 0.5rem 1.1rem;
  background-color: var(--bg-action);
  border-radius: 30px;
  box-shadow: var(--shadow-elevation-1);
  border: 1px solid var(--brd-action);

    &:hover{
      box-shadow: unset;
      background-color: var(--bg-action-hover);
      border: 1px solid var(--brd-action-hover);
      color: var(--text-on-action-hover);
    }

    &:focus-within{
      background-color: var(--bg-action-focus);
      outline: 2px solid var(--clr-red-500);
      outline-offset: 2px;
    }
}

.btn--selected{
  background-color: var(--bg-action-selected);
  color: var(--text-on-action-selected);
  font-weight: 500;

  &:hover{
    background-color: var(--bg-action-selected-hover);
    color: var(--text-on-action-selected-hover);
  }
  &:focus-within{
    background-color: var(--bg-action-selected);
    color: var(--text-on-action-selected);
    }
}

.btn--remove{
  color: var(--text-on-action-remove);
  font-size: var(--fs-400);
  font-weight: 500;
  box-shadow: unset;
  background-color: var(--bg-action-remove);
  border: 1px solid var(--brd-action-remove);
  padding: 0.45rem 0.83rem;
  transition: all  0.3s;

  &:hover{

    background-color: var(--bg-action-remove-hover);
    color: var(--text-on-action-remove-hover);
    border-color: transparent;
  }
  &:focus-visible{
      color: var(--text-on-action-remove);
      border: var(--brd-action-remove-focus);
      background-color: var(--bg-action-remove-focus);

    }
}

/*#endregion*/


/*#region: extensions__list*/


.extensions__list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax( min(300px, 100%),  1fr));
  gap: 0.9rem;
}

.extension{
  padding: 1rem;
  background-color: var(--surface-raised);
  border-radius: 20px;
  display: grid;
  gap: 50px;
    grid-template-rows: subgrid;
  grid-row: span 2;
  border: 1px solid var(--brd-action);
  box-shadow: var(--shadow-elevation-1);
}



.extension__data{
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 1rem;
}

.extension__icon{
  width: 60px;
  height: 60px
}

.extension__texts{
  display: grid;
  gap: 0.5rem;
}

.extension__title{
  color: var(--text-primary);
  font-size: var(--fs-600)
}

.extension__description{
  font-size: var(--fs-400);
  color: var(--text-secondary);
}

.extension__actions{
display: flex;
justify-content: space-between;
align-items: center;
}


.extension__switch{
  position: relative;
  width: 36px;
  height: 20px;
  background-color: var(--bg-action-switch);
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-inline: 2px;
  transition: background-color 0.2s ease-in-out;

  & input{
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  }

  &::before{
    content: '';
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 2px;
    transition: left 0.2s;
  }
}

.extension__switch:has(input:focus-visible){

  height: 24px;
  width: 39px;
  border: var(--brd-action-switch-focus);
  outline: var(--ol-action-switch-focus);

  }

  body.dark .extension__switch:has(input:focus-visible):not(:has(input:checked)){

    height: 20px;
    width: 36px;
    border: none;
    outline: none;
}

.extension__switch:has(input:checked){
  background-color: var(--bg-action-selected);
  transition: background-color 0.3s;

  &:hover{
    background-color: var(--bg-action-switch-hover);
  }

  &::before{
    left: 17px;
  }
}
/*#endregion*/


